/* common shared styles */
 body{
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 225px;
}
.nav-h3{
    color: #181818;
font-size: 45px;
font-style: normal;
line-height: normal;
}
.r{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.HM{color:#FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    background-color:#FD6E0A ;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px 19px 36px;
}

/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right; }

/* main secton1 related */
.ms{
    background-color: #FFF8F3;
    margin: 130px 0;
border-radius: 10px;
}
    .aboutme{color: var(--dark-01, #181818);
        text-align: center;
        font-family: Open Sans;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 130px 0 0 0;
        margin-top: 120px;
        }
.paratwo{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 100px;


}


.banner{
    display: flex;
    padding: 30px 30px 0 150px;
    align-items: center;
     justify-content: space-between;
}
.pict{
    width: 584px;
height: 676px;
flex-shrink: 0;
}
.h-H{
    color:#474747;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.h-m{
    color:#181818;
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.para{
    margin-top: 20px;
}
/* about me related styles */
.info-co-master{
    display: flex;
    justify-content: space-around;
}
.first{
    text-align: center;
    font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
color: #757575;
}
.sec{font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #474747;
    font-weight: bold;
}
#whatido{
    padding: 30px 300px 50px;
}
.skill-container{
    display: flex;
    margin: 100px 50px 100px;
    justify-content: space-around;

}
.skill-description{
    
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.skill-title{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skill{
    padding: 100px;
    gap: 24px;
    
box-shadow: #757575 5px 5px 5px 0px ;
}
/* resume section styles */
.resume-column-title{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;

font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
    padding:100px 100px 100px 100px ;
    justify-content: space-around;
    
}
.resume-column-title{
    color: #474747;
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
}
.resume-item-title{
    color:#474747;
font-family: Open Sans;
font-size: 25px;
font-weight: 700;
}
.resume-item-institute{
    color:#757575;
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
}
.resume-item skill-description{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.dcv{
    text-align: center;
    margin-top: 50px;
    margin-bottom:200px ;
}

/* footer section */
.footer{
    display: flex;
    justify-content: space-around;
    padding: 130px 200px;
    background-color: #FFF8F3;
   }

.section-title{
    color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.section-para{olor:#474747;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;}
    

.footer-img-icon{
    margin-right: 25px;
}


.contact input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    width: 100%;
}
